<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <div class="bgkc-tab-content all <%= ly %>">
        <div class="bgkc-title">GIÁ SỈ KIM CƯƠNG GIA
            <%= title %>
        </div>
        <div class="bgkc-row">

            <div class="bgkc-col bgkc-head">Kích cỡ (ly)</div>

            <div class="bgkc-col bgkc-head">Nước màu</div>
            <div class="bgkc-col bgkc-head">Độ sạch</div>

            <div class="bgkc-col bgkc-head">Giá VNĐ</div>
            <div class="bgkc-col bgkc-head">Mã số GIA</div>
        </div>
        <% datas.forEach(function(data){ %>
            <div class="bgkc-row">

                <div class="bgkc-col">
                    <%= data.kichco %>
                </div>

                <div class="bgkc-col">
                    <%= data.nuocmau %>
                </div>
                <div class="bgkc-col">
                    <%= data.dosach %>
                </div>


                <div class="bgkc-col">
                    <%= new Intl.NumberFormat('de-DE').format(data.gia) %>
                </div>
                <div class="bgkc-col">
                    <a href="https://www.gia.edu/report-check?reportno=<%= data.maso %>">
                        <%= data.maso %>
                    </a>
                </div>
            </div>
            <% }) %>
                <div class="bgkc-footer"><img src="https://jemmia.vn/wp-content/uploads/2021/04/vien-bang-gia-01-1.jpg" alt="" /></div>
    </div>

</body>

</html>